    .color-special {
        background-color: #c3f8b6c9;
    }


    footer {
        padding-top: 1rem;
        background-color: #3f5334;
      }

.color-footer {
    background-color: #ffffff;
}