    .color-special {
        background-color:#e9ddc1;
    }

.color-font {
        color: 	#5E6B4D ;
    }

    footer {
        padding-top: 1rem;
        background-color: #685a42;
    }
